<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>gaia</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
 	<filter>
		<filter-name>LoginCheckFilter</filter-name>
		<filter-class>filter.LoginCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginCheckFilter</filter-name>
		<url-pattern>/myPage.camp</url-pattern>
		<url-pattern>/myRez.camp</url-pattern>
		<url-pattern>/memberList.camp</url-pattern>
		<url-pattern>/memberUpdatePro.camp</url-pattern>
		<url-pattern>/memberDelete.camp</url-pattern>
		<url-pattern>/modify.camp</url-pattern>
		<url-pattern>/deleteForm.camp</url-pattern>
		<url-pattern>/productInsert.camp</url-pattern>
		<url-pattern>/productDelete.camp</url-pattern>
		<url-pattern>/productUpdateForm.camp</url-pattern>
		<url-pattern>/rezOk.camp</url-pattern>
		<url-pattern>/rezDelete.camp</url-pattern>
		<url-pattern>/rezMgtList.camp</url-pattern>
		<url-pattern>/rezMgtInsertForm.camp</url-pattern>
		<url-pattern>/rezMgtInsert.camp</url-pattern>
		<url-pattern>/rezMgtUpdate.camp</url-pattern>
		<url-pattern>/rezMgtDelete.camp</url-pattern>
		<url-pattern>/reviewWriteForm.camp</url-pattern>
		<url-pattern>/reviewWritepro.camp</url-pattern>
		<url-pattern>/reviewModify.camp</url-pattern>
		<url-pattern>/reviewDeleteForm.camp</url-pattern>
		<url-pattern>/qnaWriteForm.camp</url-pattern>
		<url-pattern>/qnaModifyForm.camp</url-pattern>
		<url-pattern>/qnaDeleteForm.camp</url-pattern>
	</filter-mapping>
 	<filter>
		<filter-name>AdminCheckFilter</filter-name>
		<filter-class>filter.AdminCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AdminCheckFilter</filter-name>
		<url-pattern>/managePagePro.camp</url-pattern>
		<url-pattern>/managePageRez.camp</url-pattern>
		<url-pattern>/managePageMem.camp</url-pattern>
		<url-pattern>/managePageQna.camp</url-pattern>
		<url-pattern>/joinAdmin.camp</url-pattern>
		<url-pattern>/myMemberPage.camp</url-pattern>
		<url-pattern>/proManage.camp</url-pattern>
		<url-pattern>/productForm.camp</url-pattern>
		<url-pattern>/productUpdateForm.camp</url-pattern>
		<url-pattern>/productDelete.camp</url-pattern>
		<url-pattern>/view/qnaManager.jsp</url-pattern>
		<url-pattern>/view/rezMgtList.jsp</url-pattern>
		<url-pattern>/qnaReplyForm.camp</url-pattern>
		<url-pattern>/noticeWriteForm.camp</url-pattern>
		<url-pattern>/noticeModifyForm.camp</url-pattern>
		<url-pattern>/noticeDelete.camp</url-pattern>
	</filter-mapping>
</web-app>